.data-visualization-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*height: 100%;*/
    /*height: 800px;*/
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid white; !* 1px wide, solid, black border *!*/
    /* You can add other styling properties as needed */

}
.slider-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 10px; /* Adjust as needed */
}

.slider-label {
  margin: 0 10px; /* Adjust spacing around labels as needed */
}

input[type='range'] {
  flex-grow: 1; /* Allows the slider to grow and fill available space */
}


.custom-icon .mdi {
    color: red; /* Or any other color you prefer */
}

.map-container {
    flex: 3;
    margin: 10px;
    width: 300px;
    /*border: 2px solid #0000FF;*/
}

.map-container-container {
    height: 100vh;
    width: 100%;
}

.plot-section {
    /*height: 500px; !* Adjust if needed *!*/
    /*display: flex;*/
    flex: 1;
    /*border: 2px solid #008000;*/
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

/*.temperature-plot-container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: flex-start;*/
/*}*/


.control-buttons {
    display: flex;
    flex: 1;
    justify-content: space-between;
    /*// This will space out the controls*/
    flex-direction: row;
    align-items: center;
    width: 100%;
    /*border: 2px solid #FF0000;*/
    /*// Ensure it takes the full width of the parent*/
}

.updown-control {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*border: 2px solid #d4d4d4;*/
    padding: 15px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.updown-control .current-value {
    margin: 15px;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}


@media (max-width: 768px) {
    .map-container {
        height: 200px; /* Adjust the height as needed */
        /*border: 10px solid blue; !* 1px wide, solid, black border *!*/
            margin: 0px;
    }

    .data-visualization-container {
flex-direction: column;
        /*border: 1px solid red; !* 1px wide, solid, black border *!*/
        /* You can add other styling properties as needed */

    }

    .map-container-container {
        height: 75vh !important;
        width: 100%;
        /*border: 10px solid green;*/
    }

    .control-buttons {

    justify-content: space-between;
    /*// This will space out the controls*/
    flex-direction: column;

    /*border: 2px solid #FF0000;*/
    /*// Ensure it takes the full width of the parent*/
}

}